<%= stylesheet_link_tag "randomnumbers" %>
<!-- <%= image_tag('CaesarPalace1.jpeg') %> -->

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">5th Floor Block Party!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><%= link_to('Play', new_randomnumber_path, method: "get") %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container theme-showcase zero-margin" role="main">
<div class="page-header">
<table>
  <tr>
    <td colspan="2" align="center"><%= button_to 'Play !', new_randomnumber_path, method: "get", :class => "btn btn-lg btn-primary" %></td>
    <br/>
  </tr>
  <tr>
    <td><%= link_to('See Results in Wavefront', 'https://workday.wavefront.com/u/FG8wR91mnY', :class => "btn btn-sm btn-success button") %></td>
  </tr>
</table>
</div>

<div class="page-header zero-margin">
  <h4 width="100px">Leaderboard</h4>
</div>

<div class="row">
<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Result</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @randomnumbers.each do |randomnumber| %>
        <tr>
          <td><%= RomanNumerals.to_roman(@counter = @counter + 1) %></td>
          <td><%= randomnumber.name %></td>
          <td><%= randomnumber.number %></td>
          <td align="center"><%= link_to('Show', randomnumber_path(randomnumber)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<div class="page-header">
  <span class="label label-default">Play as often as you like. Highest score wins a prize!</span>
</div>

<div class="container">
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>
</div>  <!-- Container -->
