<%= stylesheet_link_tag "randomnumbers" %>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('5th Floor Block Party!', root_path, method: "get", :class => "navbar-brand") %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to('Home', root_path, method: "get") %></li>
        <li><%= link_to('Play', new_randomnumber_path, method: "get") %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container theme-showcase zero-margin" role="main">
  <div class="page-header">
    <table>
      <tr>
        <td><h4></h4></td>
      </tr>
    </table>
    </div>

<%= form_for :randomnumber, url: randomnumbers_path do |f| %>
  <p>
    <%= f.label "Your Name" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.hidden_field :number, :value => rand(10000) %>
  </p>

  <p>
    <%= f.submit "Go!", :class => "btn btn-small btn-primary" %>
  </p>
<% end %>

<div class="container">
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>
</div>  <!-- Container -->
